[Unit]
Description=sshd almost ready LED
Wants=network-online.target
After=ssh.target systemd-user-sessions.target network-online.target
PartOf=ssh.service
BindsTo=ssh.service

[Service]
ExecStart=/bin/sh -c "/usr/bin/echo 1 > /sys/class/leds/sshd/brightness"
Type=oneshot

[Install]
WantedBy=multi-user.target
